:host {
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
    // overflow-y: auto;
}

button {
    margin: 5px;
    z-index: 999;
}

mat-card {
    flex: 1 1 150px; /*  Stretching: */
    margin: 5px;
    max-height: 90%;
    overflow-y: auto;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

mat-expansion-panel, mat-slider, mat-accordion {
    width: 100%;
}

mat-divider {
    width: 80%;
}

mat-radio-button, mat-checkbox {
    margin: 10px;
}
