<div class="canvas" [class.dark-theme]="getDarkMode()" [class.light-theme]="!getDarkMode()">
    <div class='toaster'>
        <div class="cover">
            <div class="shine"></div>
            <div class="b1"></div>
            <div class="b2"></div>
            <div class="b3"></div>
        </div>
        <div class="slot1"></div>
        <div class="slot2">
            <div class="handle1">
                <div class="handle2"></div>
                <div class="handle3"></div>
            </div>
        </div>
        <div class="base2"></div>
        <div class="base1"></div>
        <div class="leg1"></div>
        <div class="leg2"></div>
        <div class="leg3"></div>
        <div class="leg4"></div>
        <div class="toastl1">
            <div class="toastl2"></div>
            <div class="toastu1"></div>
            <div class="toastu2"></div>
        </div>
        <div class="toastl3">
            <div class="toastl4"></div>
            <div class="toastu1"></div>
            <div class="toastu2"></div>
        </div>
    </div>
</div>